.info-primary{
    background-color: aqua;
}

.info-dark{
    background-color:#3a4256;
}
.info-card {
    padding: 0 5px;
}
.info-icon{
    font-size:3rem;
    color:white;
}

.info-container{
    height: 100px;
    padding: 30px;
}